h1{
  background-color:green; text-align:center;
}
body{
	background-color: grey;
	}
h2{
 color:white; 
 text-align:center; 
 font-size:300%;
 font-family:verdana
 }
h3{
	color:brown;
	text-align:center;
	font-size:250%;
	font-family:courier
	}
.gef{ 
        border: 2px solid black;
		padding: 30px;
		color:white; 
		text-align:center
		}
.abc{
	  border: 2px solid black;
	  padding: 30px;
	  color: red;
	  text-align:center;

}		
		
pre{
	font-size:170%
	}
h4{
	background-color:purple; 
	text-align:center;
	font-size:150%
	}
div{
	text-align:right; 
	width=150 height=150
	}
h5{
	background-color:purple; 
	text-align:center;
	font-size:150%
}
h6{
	background-color:purple; 
	text-align:center;
	font-size:150%
}
.bcd{
	text-align:left;
	color:white;
	
}
.cde{
	text-align:left;
	color:white;
}

.mno{
	  border: 2px solid black;
		padding: 30px;
		color:white; 
		text-align:center
}

.aaa{
	 border: 2px solid black;
		padding: 30px;
		color:white; 
		text-align:center
}
.bbb{
	 border: 2px solid black;
		padding: 30px;
		color:white; 
		text-align:center
}
h6{
	    background-color:purple; 
	    text-align:center;
	    font-style:150%;
}
table{
	  style=width:100px;
}

